<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 style="text-align: center">Waitingroom</h1>
    <%= yield %>
  </div>
</body>
