<br>

<div class="row">
  <div class="col-md-6">
  </div>

  <div class="col-md-6">
    <h4>HOB-<%= train[:destination] %> (#<%= train[:id] %>)</h4>
    <h4><%= train[:time] %> @ Track <%= train[:track] %></h4>
  </div>
</div>
